<!-- Lets talk about geddy -->
<div class="jumbotron geddy-welcome-box">
	<h1>Welcome to Geddressbook</h1>
	<p>This is a little example with Geddy.</p>
	<div class="row">
		<% if (addressbooks) { %>
			<div id="addressbooks-list" class="col-md-6">
				<ul class="list-group">	
					<% for (var i = 0, ii = addressbooks.length; i < ii; i++) { %>
						<form id="addressbook-form" class="form-horizontal" action="/addressbooks/<%= addressbooks[i].id %>?_method=PUT"  role="form" method="POST">
							<li class="list-group-item" id="addressbook-<%= addressbooks[i].id; %>">
								<div class="row">
								<div class="col-sm-5 col-md-7"> 
									<%= addressbooks[i].surname; %> <%= addressbooks[i].lastname; %>
								</div>
								<div class="col-sm-7 col-md-5"> 
									<%- linkTo('Edit', editAddressbookPath(addressbooks[i].id), {class: 'btn btn-primary'}); %>
									<%- contentTag('button', 'Remove', {type: 'submit', formaction: '/addressbooks/' + addressbooks[i].id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
								</div>
								</div>
							</li>
						</form>
					<% } %>
				</ul>
			</div>
		<% } %>
		<%- linkTo('Add new register', '#', {class: 'btn btn-primary btn-lg', 'data-target': '#myModalAdd', 'data-toggle': 'modal'}) %>
	</div>
	<%- partial('addressbooks/add', {params: {}}) %>
</div>