<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="AddRegister" aria-hidden="true">
    <form id="addressbook-form" class="form-horizontal" action="/addressbooks"  role="form" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create a new addressbook register</h4>
                </div>
                <div class="modal-body">
                    <% if(params.errors) { %>
                        <div class="control-group">
                            <ul>
                            <% for(var err in params.errors) { %>
                                <li><%= params.errors[err]; %></li>
                            <% } %>
                            </ul>
                        </div>
                    <% } %>
                    <%- partial('addressbooks/form', {addressbook: params}) %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %>
                </div>
            </div><!-- /.modal-content -->  
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
