<!-- Lets talk about geddy -->
<div class="jumbotron geddy-welcome-box">
    <h1>Edit addressbook register</h1>
    <p>Edit the card information and do not forget to save your changes
    <%- linkTo('Back to main', mainsPath, {class: 'btn pull-right'}); %>
    </p> 
    <form id="addressbook-form" class="form-horizontal" action="/addressbooks/<%= params.id %>?_method=PUT"  role="form" method="POST">
        <% if(params.errors) { %>
            <div class="control-group">
                <ul>
                <% for(var err in params.errors) { %>
                    <li><%= params.errors[err]; %></li>
                <% } %>
                </ul>
            </div>
        <% } %>
        <%- partial('addressbooks/form', {addressbook: addressbook}) %>
        <div class="form-actions">
            <%- contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'}) %>
            <%- contentTag('button', 'Remove', {type: 'submit', formaction: '/addressbooks/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
        </div>
    </form>
</div>