<div class="form-group">
    <label for="surname" class="col-sm-2 control-label">Surname</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.surname, {type:'text', class:'form-control', name:'surname'}) %>
    </div>
</div>

<div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">Lastname</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.lastname, {type:'text', class:'form-control', name:'lastname'}) %>
    </div>
</div>

<div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Phone</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.phone, {type:'text', class:'form-control', name:'phone'}) %>
    </div>
</div>

<div class="form-group">
    <label for="mobile" class="col-sm-2 control-label">Mobile</label>

    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.mobile, {type:'text', class:'form-control', name:'mobile'}) %>
    </div>
</div>

<div class="form-group">
    <label for="fax" class="col-sm-2 control-label">Fax</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.fax, {type:'text', class:'form-control', name:'fax'}) %>
    </div>
</div>

<div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.email, {type:'text', class:'form-control', name:'email'}) %>
    </div>
</div>

<div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.address, {type:'text', class:'form-control', name:'address'}) %>
    </div>
</div>

<div class="form-group">
    <label for="zip" class="col-sm-2 control-label">Zip</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.zip, {type:'text', class:'form-control', name:'zip'}) %>
    </div>
</div>

<div class="form-group">
    <label for="city" class="col-sm-2 control-label">City</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.city, {type:'text', class:'form-control', name:'city'}) %>
    </div>
</div>

<div class="form-group">
    <label for="state" class="col-sm-2 control-label">State</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.state, {type:'text', class:'form-control', name:'state'}) %>
    </div>
</div>

<div class="form-group">
    <label for="country" class="col-sm-2 control-label">Country</label>
    <div class="controls col-sm-10">
        <%- contentTag('input', addressbook.country, {type:'text', class:'form-control', name:'country'}) %>
    </div>
</div>