<%= partial('layout_header'); %>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%- linkTo('Geddressbook App', mainsPath, {class: 'navbar-brand'}) %>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><%- linkTo('Home', mainsPath) %></li>
                        <li><%- linkTo('Tutorial', 'http://geddyjs.org/tutorial') %></li>
                        <li><%- linkTo('Docs', 'http://geddyjs.org/documentation') %></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container theme-showcase" role="main">
            <%- displayFlash(flash); %>
            <%- render(); %>
        </div>
    </body>
<%= partial('layout_footer'); %>