<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddressbook | This app uses Geddy.js</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%- scriptLink('http://html5shim.googlecode.com/svn/trunk/html5.js', {type:'text/javascript'}) %>
    <![endif]-->

    <%- scriptLink('jquery.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('bootstrap.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('config/init.js', {type: 'text/javascript'}) %>

    <%- styleLink('bootstrap.min.css', {rel:'stylesheet'}) %>
    <%- styleLink('bootstrap-theme.min.css', {rel:'stylesheet'}) %>
    <%- styleLink('style.css', {rel:'stylesheet'}) %>
  </head>